/*
* Main
*/

.Header {
  align-content: left;
}

.App-bg {
  /* The image used */
  background-image: url("./images/uc_maskeliler.png");

  position: fixed;
  top: 0;

  /* Add the blur effect */
  filter: blur(14px);
  -webkit-filter: blur(14px);

  /* Full height */
  height: 100%;
  width: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}

.App-body {
  margin-top: 5%;
  margin: auto;
}

/*
* Transparent Box
*/
div.transbox-right, div.transbox-left {
  margin: 6%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 1;
  box-sizing: border-box;
  max-width: 40%;
  position: fixed;
}
div.transbox-left {
  left: 10%;
  right: 50%;
}
div.transbox-right {
  right: 10%;
  left: 50%;
}


/*
* Transparent box content
*/
div.transbox-left label {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
div.transbox-right label {
  margin-top: 5%;
  font-weight: bold;
  color: #000000;
}
div.transbox-left input {
  font-weight: bold;
  color: #000000;
  margin-bottom: 5%;
}
div.transbox-right button {
  font-weight: bold;
  color: #000000;
  border: 1px solid black;
  margin: 5%;
}
div.transbox-left img {
  max-width: 50%;
  max-height: 50%;
}
div.transbox-right img {
  max-width: 80%;
  max-height: 80%;
}
ul.bulletless {
  list-style-type:none;
}

/*
* Transition
*/
.transition {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  box-sizing: border-box;
  max-width: 40%;
  position: fixed;
  left: 40%;
  right: 40%;
}
.transition a {
  text-decoration: none;
  display: inline-block;
  background-color: #4c87af;
  color: white;
}
.transition a:hover {
  background-color: #ddd;
  color: black;
}