/*
* Main
*/
.Header {
  align-content: left;
}
.App-bg {
  /* The image used */
  background-image: url("./images/uc_maskeliler.png");
  position: fixed;
  top: 0;
  /* Add the blur effect */
  filter: blur(14px);
  -webkit-filter: blur(14px);
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.App-body {
  margin-top: 5%;
  margin: auto;
}

/*
* Transparent Box
*/
div.transbox-right, div.transbox-left {
  margin: 6%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 1;
  box-sizing: border-box;
  max-width: 40%;
  position: absolute;
}
div.transbox-left {
  left: 5%;
  right: 55%;
}
div.transbox-right {
  right: 1%;
  left: 40%;
}

/*
* Transparent box content
*/
div.transbox-left label {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
div.transbox-right label {
  margin-top: 5%;
  font-weight: bold;
  color: #000000;
}
div.transbox-left input {
  font-weight: bold;
  color: #000000;
  margin-bottom: 5%;
}
div.transbox-right button {
  font-weight: bold;
  color: #000000;
  border: 1px solid black;
  margin: 5%;
}
div.transbox-left img {
  max-width: 60%;
  max-height: 60%;
}
div.transbox-right img {
  max-width: 80%;
  max-height: 80%;
}
div.transbox-right video {
  max-width: 80%;
  max-height: 80%;
}
ul.bulletless {
  list-style-type:none;
}

/*
* Class List
*/
.classesImage {
  margin-top: 5%;
  opacity: 0.7;
}

/*
* My Images
*/
.myImage {
  opacity: 1;
  width: 46%;
  margin-top: 2%;
  margin-left: 2%;
}
.myVideo {
  opacity: 1;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
}